<html>
  <head>
    <title>Anima calc</title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="/static/css/site.css"/>
    <h1>
      Anima calc
    </h1>
    <div id="content">
    </div>
    <script src="/static/js/app.js"></script>
  </body>
</html>
