<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Anima calc</title>
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Nova+Script" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/site.css"/>
    <div class="banner">
      <img class="bannerImage">
      <h1>
        Anima calc
      </h1>
    </div>
    <main id="content">
    </main>
    <script src="/static/js/app.js"></script>
  </body>
</html>
