/*By Ralph Dion, François Drouin-Morin, Renaud Marcoux*/
/*---------------
FONT-FACE
-----------------*/
@font-face{
  font-family: Alana;
  src: url("/static/fonts/Alana Family/Web Fonts/Regular/Alana.woff");
}

@font-face{
  font-family: Gorni;
  src: url("/static/fonts/Gorni/Web Fonts/Regular/Gorni.woff")
}

/* --------------
RESET STYLESHEET
---------------- */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, small {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  margin:0;
  background-image: url("/static/images/body_bg.jpg");
  background-repeat: repeat;
  background-size: 100% 1080px;
  height: 100%;
  color: #333;
}

/* --------------
STYLE HEAD
---------------- */
.banner{
  display: block;
  position: relative;
}
.bannerImage{
  width: 100%;
  height: 12em;
  position: relative;
  content:url("/static/images/banner_bg.png")
}
.banner h1{
  text-align: center;
  position: absolute;
  width: 100%;
  top: -0.2em;
  margin: auto;
  color: #FEFEFE;
  font-family: "Alana", cursive;
  font-size: 5em;
}
/* --------------
STYLE APP
---------------- */
main {
  margin: -8em auto 0;
  padding: 8em 2em;
  background: rgba(255,255,255,0.4);
  width: 70%;
  height: 90%;
}

.sentence{
  display: block;
  margin:auto;
}

.sentence input{
  background: none;
  border: none;
  border-bottom: solid #333 1px;
  font-family: "Gorni", cursive;
  height: 1.1em;
}

.sentence input:focus{
  outline: none;
}
.dmgForm {
  max-width: 25em;
  margin: auto;
}
.dmgForm p{
  padding-top: 1em;
  margin: auto;
  font-family: 'Gorni', cursive;
}
.dmgForm input{
  width: 3em;
}
.result{
  text-align: center;
}
.noDmg{
  color: brown;
}
.counter{
  color: red;
}
.showDmg{
  color: green;
}

@media(max-width: 800px){
  main{
    height:100%;
  }
  body{
    background-image: url("/static/images/body_bg_mobile.jpg")
  }
  .bannerImage{
    content:url("/static/images/banner_bg_mobile.png");
    height: 8em;
  }

  .banner h1{
    top: -0.4em;
    font-size: 4em;
  }
}
